footer{
	padding: 80px 0 40px;
	@include mq('t-768', 'max') {
		padding: 48px 0 24px;
	}
	.conatiner-common{

	}
	.footer-top{
		display: flex;
		margin-bottom: 24px;
		@include mq('t-768', 'max') {
			margin-bottom: 48px;
		}
		.content{
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			p{

			}
			.allrights{
				font-size: 14px;
				line-height: 1.14;
				@include mq('t-768', 'max') {
					display: none;
				}
			}
		}
		.logo-wrapper{
			@include mq('t-768', 'max') {
				display: none;
			}
			a{
				img{
					width: 100%;
					@include mq('d-1440', 'min') {
						min-width: 620px;
					}
				}
			}
		}
	}
	.footer-menu{
		display: flex;
		justify-content: space-between;
    column-gap: 24px;
		margin-bottom: 73px;
		@include mq('t-768', 'max') {
			flex-direction: column;
			margin-bottom: 24px;
		}
		> div{
			h5{
				font-size: 14px;
				margin-bottom: 24px;
				@include Font-Regular;
				text-transform: uppercase;
			}
			ul{
				li{
					&:not(:last-child){
						margin-bottom: 6px;
					}
					a{
						color: var(--color-text);
						line-height: 1.33;
						text-transform: capitalize;
					}
				}
			}
		}
	}
	.footer-bottom{
		display: flex;
		justify-content: space-between;
    column-gap: 24px;
		padding-bottom: 42px;
		border-bottom: 1px solid var(--color-text);
		@include mq('t-768', 'max') {
			border-bottom: none;
			padding-bottom: 24px;
			flex-direction: column;
		}
		> div{
			&:not(:last-child){
				@include mq('t-768', 'max') {
					margin-bottom: 24px;
				}
			}
			span{
				display: flex;
				margin-bottom: 8px;
				@include mq('t-768', 'max') {
					margin-bottom: 12px;
				}
				img{
					@include mq('t-768', 'max') {
						max-width: 16px;
					}
				}
			}
			p{
				text-transform: capitalize;
				span{
					display: inline-flex;
					margin: 0;
				}
				@include mq('t-768', 'max') {
					display: flex;
				}
			}
		}
	}
	.mobile-footer-bottom{
		border-bottom: 1px solid var(--color-text);
		padding-bottom: 24px;
		@include mq('t-768', 'min') {
			display: none;
		}
		.logo-wrapper{
			margin-bottom: 48px;
			a{
				img{
					width: 100%;
				}
			}
		}
		.allrights{
			font-size: 12px;
			line-height: 1;
		}
	}
}
