:root {
	// --color-error: #da5050;

	--color-primary : #EF4135;
	--color-sec : #FBB163;
	--color-white: #ffffff;
	--color-black: #000000;

	--color-text : #2C3E50;
	--bg-gray : #EEEEEE;
	--bg-darkgray : #CDCECE;
}
