h1, h2, h3, h4, h5, h6{
	@include Font-Medium;
}
h1{
	font-size: 64px;
	letter-spacing: -2.56px;
	line-height: 1.06;
	@include mq('t-768', 'max') {
		font-size: 32px;
		letter-spacing: -0.64px;
		line-height: 1.12;
	}
}
h2{
	font-size: 32px;
	letter-spacing: -1.28px;
	line-height: 1.25;
	@include mq('t-768', 'max') {
		font-size: 20px;
		letter-spacing: -0.4px;
		line-height: 1.20;
	}
}
h3{
	font-size: 26px;
	letter-spacing: -1.04px;
	line-height: 1.23;
	@include mq('t-768', 'max') {
		font-size: 20px;
		letter-spacing: -0.4px;
		line-height: 1.20;
	}
}
h4{
	font-size: 18px;
	@include mq('t-768', 'max') {
		font-size: 14px;
		line-height: 1.28;
	}
}
h5{

}
h6{

}

p{
	font-size: 18px;
	line-height: 1.33;
	@include mq('t-768', 'max') {
		font-size: 14px;
		line-height: 1.28;
	}
	&.large-content{
		font-size: 32px;
		line-height: 1.25;
		letter-spacing: -1.28px;
		@include mq('t-768', 'max') {
			font-size: 20px;
			line-height: 1.2;
			letter-spacing: -0.4px;
		}
	}
	&.small-content{
		font-size: 16px;
		line-height: 1.25;
		@include mq('t-768', 'max') {
			font-size: 12px;
			line-height: 1;
		}
	}
}
.text-capitalize{
	text-transform: capitalize;
}
.text-uppercase{
	text-transform: uppercase;
}

